<!DOCTYPE html>
<html>
<head>
    <%- include('meta.html') %>
    <style>
        .blog{padding:0 40px;}
        .blog h1{font-size: 26px;text-align: center;padding:40px 0 15px;}
        .blog-time{text-align: center;padding-bottom:30px;}
        .blog-updown{padding:20px 0;margin: 40px 0 0;border-top:1px solid #f1f1f1;line-height: 30px;}
        .blog-updown i{float: right;}
    </style>
</head>
<body>
<div class="main">
    <%- header %>
    <div class="content">
        <div class="blog">
            <h1>这些年我看到的所谓区块链……</h1>
            <div class="blog-time">发表于：2019-07-08</div>
            <div class="blog-main">
                <p>第一次听到“区块链”这个词的时候，你反应过来它究竟是什么意思了吗？</p>
                <p>“区块链”是 Blockchain 的直译。对每个人脑子中的中文处理系统来说，这三个字放在一起全然无法产生任何有意义的意味。“区块”，从来没听说过的东西，再加上一个“链”，于是，自然而然地天空中飘荡着十亿头雾水……</p>
            </div>
            <div class="blog-updown">
                <p>上一篇：<i class="iconfont icon-icon-test3"></i><a href="#">所谓区块链</a></p>
                <p>下一篇：<i class="iconfont icon-icon-test3"></i><a href="#">所谓区块链</a></p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <%- footer %>
</div>
</body>
<script src="/views/js/jquery.js"></script>
<script>

</script>
</html>
